{% extends "template.html" %}
{% block repeated %}
  <div class="row mb-2">
  	{% for dt in data %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Id - {{dt['id']}}</strong>
          <h3 class="mb-0">{{dt['song_name']}}</h3>
          <div class="mb-1 text-muted">{{dt['singer']}}</div>
          <p class="card-text mb-auto">{{dt['url']}}</p>
          <a href="{{url_for('id' , song_id = dt['id'])}}" class="stretched-link">Go To Lyrics</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

